*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
html{
  font-size: 10px;
}
#container {
    overflow: hidden;
    background-color: #2d2d38;
    background-image: url("images/white2.png");
    background-position: 0px 0px;
    background-size: 50%;
    /* background-repeat:initial; */
  }
  #context-menu{
    display: none;
    position: absolute;
    background-color: #f0f0f0;
    border: black solid 1px;
    border-radius: 2px;
    cursor:pointer;
    font-size: 1.5rem;
    width: 20rem;
    height: 20rem;
    overflow: auto;
  }
  .context-menu-items:hover{
    background-color: #111;
    color: white;
    
  }
input{
  position: absolute;
  display: none;
  top:0;
  left:0;
  width: 3rem;
  /* height: 3rem; */
  transform: scale(1);
  font-family: monospace;
}