*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
html{
  font-size: 10px;
}
.main{
  display: flex;
  align-items: center;
}
#left-panel{
  flex: 1;
  height: 100vh;
  background-color: #2d2d38;
}

#container {
  height: 100vh;
  flex: 4;
  overflow: hidden;
  border: #f0f0f0 solid 7px;
  background-color: #2d2d38;
  background-image: url("images/sqq1.png");
  background-position: 0px 0px;
  background-size: 5%;
  background-blend-mode:difference;
  /* background-repeat:initial; */
  }
  #context-menu{
    display: none;
    position: absolute;
    background-color: #f0f0f0;
    border: black solid 1px;
    border-radius: 2px;
    cursor:pointer;
    font-size: 1.5rem;
    width: 20rem;
    height: 20rem;
    border-radius: 2px;
    overflow: auto;
    user-select: none;
  }
  .context-menu-items:hover{
    background-color: #2d2d38;
    color: white;
    
  }
.ipn, .ips{
  display:none;
  position: absolute;
  left: 0;
  top: 0;
  width: 50px;
  height: 14px;
  transform-origin: top left;
  opacity: 0.8;
  outline: none;
  font-size: 10px;
  caret-color: red;
  /* transform: scaleY(2); */
}
.ipb{
  display:none;
  position: absolute;
  left: 0;
  top: 0;
  width: 50px;
  height: 14px;
  font-size:10px;
  transform-origin: top left;
  opacity: 0.8;
  outline: none;
}


.rightbar{
  position: absolute;
  right:14px;
  margin: 0px;
  top: 14px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 2px solid white;
  opacity: 0.8;
  border-radius: 5px;
  overflow: hidden;
}
.rightbar .icon{
  width: 60px;
  padding: 10px;
  height: 30px;
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  align-items:center;
  justify-content: center;
  font-size: 1.2rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  outline: none;
  border: none;
  background-color: #2d2d38;
  z-index: 10;
  color: white;
}
.rightbar .icon:hover{
  color: #2d2d38;
  background-color: white;
  opacity: 1;
}
a.gh-link{
  color: white;
  /* background-color: #2d2d38; */
}
a.gh-link:hover{
  background-color: white;
  color: #2d2d38;
  opacity: 1;
}

#console-window{
  position: absolute;
  width: 78%;
  right: 14px;
  height: 200px;
  bottom: 14px;
  border-radius: 3px;
  overflow: hidden;
  /* border: 0px 14px 14px 14px; */
  /* border-style: solid; */
  /* border-color: white; */
  /* margin: 20px; */
  z-index: 10;
  background-color: black;
  opacity: 0.9;
  color: white;
}
.top-bar{
  width: 100%;
  height: 20px;
  background-color: white;
}
#cross{
  position: absolute;
  right: 0;
  color:white;
  /* font-size: 20px; */
  /* transform: translateY(-10px); */
  background-color: red;
  border: none;
  outline: none;
  width: 20px;
  height: 20px;
}
#cross div{
  transform: rotateZ(45deg);
  font-size: 15px;
}
iframe{
  width: 100%;
}
.hidden{
  display: none;
}


