*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
html{
  font-size: 10px;
}

  /* display: flex; */
  /* align-items: center; */

::-webkit-scrollbar{
  width: 7px;
  /* border-radius: 5%; */

}
::-webkit-scrollbar-track{
  background-color:white;
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.5);
  /* border-radius: 50%; */
}
::-webkit-scrollbar-thumb{
  background-color: #d65a31;
  /* box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.25); */
  /* border-radius: 50%; */
}



#container {
  height: 100vh;
  /* flex: 4; */
  top:0;
  left: 0;
  width: 100vw;
  position: absolute;
  overflow: hidden;
  /* border: #f0f0f0 solid 7px; */
  /* border-left: #f0f0f0 solid 3px; */
  background-color: 	#26282b;
  /* background-image: url("images/sqq1.png"); */
  background-image: linear-gradient(rgb(92, 92, 92) .1rem, transparent .1rem), linear-gradient(90deg, rgb(92, 92, 92) .1rem, transparent .1rem);
background-size: 10rem 10rem;
  background-position: 0px 0px;
  /* background-size: 4%; */
  z-index: -2;
  /* background-blend-mode:difference; */
  /* background-repeat:initial; */
  }
  #left-panel{
    position: absolute;
    top: 0;
    left: 0;
    /* flex: 1; */
    width: 20vw;
    height: 100vh;
    background-color: rgba(43, 46, 51, 0.4);
    /* background-color: #2d2d38; */
    border-right: 1px solid #d65a31;
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    box-shadow: 15px 15px 25px rgba(0, 0, 0, 0.5);
    z-index: 5;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items:center;
    overflow: auto;
  }
  #create-variables{
    /* height: ; */
    width: 100%;
  }
  #ctx-menu-container{
    position: absolute;
    width: 250px;
    height: 250px;
    /* overflow: hidden; */
    z-index: 20;
  }
  #ctx-search-bar{
    width: 100%;
    outline:none;
    transform-origin: top left;
    font-size: 1.5rem;
    /* height: 2.5rem; */
    border: #d65a31 solid 1px;
    padding: 0.5rem;
    background-color: rgb(230, 221, 221, 0.3);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    caret-color: #ff4000;
    color: white;
    border-radius:0;
  }
  #ctx-search-bar::placeholder{
    color: rgb(230, 221, 221);
  }
  #context-menu{
    /* display: none; */
    /* position: absolute; */
    border: #d65a31 solid 1px;
    box-shadow: 15px 15px 25px rgba(0, 0, 0, 0.5);
    margin-top: 1px;
    border-top: none;
    /* border-radius: 2px; */
    /* cursor:pointer; */
    padding: 10px 0px;
    width: 100%;
    max-height: 225px;
    min-height: 35px;
    /* border-radius: 2px; */
    overflow: auto;
    font-size: 1.5rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    /* padding: 0.5rem; */
    user-select: none;
    color: black;
    /* background-color: white; */
    background-color: rgba(255, 255, 255, 0.7);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
  }
  .context-menu-items{
    padding: 5px;

  }
  
  .context-menu-items:hover{
    background-color: #d65a31;
    color: white;
    /* z-index: 20; */
    /* cursor:pointer; */
    
  }
  .ctx-focus{
    background-color: #2d2d38;
    color: white;
  }
.icon2{
  width: 60px;
  padding: 30px;
  height: 30px;
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  align-items:center;
  justify-content: center;
  font-size: 1.2rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  outline: none;
  border: none;
  background-color: #d65a31;
  z-index: 10;
  color: white;
  user-select: none;
}
.icon3{
  /* width: 60px;
  padding: 30px;
  height: 30px;
  padding-top: 20px;
  padding-bottom: 20px; */
  display: flex;
  align-items:center;
  justify-content: center;
  font-size: 1.2rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  outline: none;
  border: none;
  background-color: transparent;
  z-index: 10;
  color: white;
  user-select: none;
}
.ipn, .ips{
  display:none;
  position: absolute;
  left: 0;
  top: 0;
  width: 50px;
  height: 14px;
  transform-origin: top left;
  opacity: 0.8;
  outline: none;
  font-size: 10px;
  /* caret-color: red; */
  background-color:#19214e;
  color: white;
  border: none;
  /* transform: scaleY(2); */
}
.ipb{
  display:none;
  position: absolute;
  /* appearance: none; */
  padding: 0;
  left: 0;
  top: 0;
  width: 50px;
  height: 14px;
  font-size:10px;
  transform-origin: top left;
  opacity: 0.8;
  outline: none;
  background-color:#19214e;
  color: white;
  border: none;

}


.rightbar{
  position: absolute;
  right:0px;
  margin: 0px;
  top: 0px;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: center;
  box-shadow: 15px 15px 25px rgba(0, 0, 0, 0.5);
  /* border: 1px solid white; */
}
.icon{
  width: 60px;
  padding: 30px;
  height: 30px;
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  align-items:center;
  justify-content: center;
  font-size: 1.2rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  outline: none;
  border: none;
  background-color: #d65a31;
  z-index: 10;
  color: white;
  user-select: none;
}
.icon:hover{
  color: #d65a31;
  background-color: white;
}


#console-window{
  position: absolute;
  width: 75%;
  right: 2%;
  height: 200px;
  bottom: 0px;
  /* border-radius: 3px; */
  overflow: hidden;
  background-color: rgba(11, 11, 12, 0.4);
  /* border: 0px 14px 14px 14px; */
  /* border-style: solid; */
  /* border-color: white; */
  /* margin: 20px; */
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  z-index: 3;
  /* background-color: transparent; */
  opacity: 0.9;
  border: 1px solid #d65a31;
  /* box-shadow: 15px 15px 15px rgba(0, 0, 0, 0.5); */
  color: white;
}

.cross{
  position: absolute;
  right: 0;
  color:white;
  /* font-size: 30px; */
  /* transform: translateY(-10px); */
  background-color: #d65a31;
  border: none;
  outline: none;
  width: 25px;
  height: 25px;
}
.cross div{
  transform: rotateZ(45deg);
  font-size: 15px;
}
.cross:hover{
  color: #d65a31;
  background-color: white;
}
iframe{
  position: relative;
  top: 25px;
  width: 100%;
}
.hidden{
  display: none !important;
}
.sidebox{
  position: absolute;
  transform-origin: center center;
  height: 200px;
  width: 200px;
  background-color: rgba(43, 46, 51, 0.4);
  right: 25px;
  top:65px;
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  box-shadow: 15px 15px 25px rgba(0, 0, 0, 0.5);
  border: 1px solid #d65a31;
  animation: border-anim;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}
.sidebox-flex{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
@keyframes border-anim{
  0% {border-color: #d65a31;}
  50% {border-color: transparent;}
  100% {border-color: #d65a31;}
}
/* #save-menu{
  position: absolute;
  transform-origin: center center;
  height: 200px;
  width: 200px;
  background-color: rgba(43, 46, 51, 0.4);
  right: 25px;
  top:65px;
  backdrop-filter: blur(4px);
  box-shadow: 15px 15px 25px rgba(0, 0, 0, 0.5);
} */
/* .save-menu-flex{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
} */
input[type="file"] {
  position: absolute;
  display: none;
  z-index: -100;
  top: 15px;
  left: 20px;
  font-size: 17px;
  color: #b8b8b8;
}
#delete-ctx-container{
  /* width: 150px !important; */
  position: absolute;
  z-index: 200;
  display: flex;
  justify-content: center;
  align-items:center;
  flex-direction: column;
  width: 125px !important;
}

.left-panel-variable{
  width: 80%;
  font-size: 1.6rem;
  margin:2rem 1rem 0 1rem;
  background: transparent !important;
  color: white !important;
}
.variableList{
  display: flex;
  width: 100%;
  /* align-items: flex-start; */
  flex-direction: column-reverse;
  justify-content: flex-end;
}

