@import url('https://fonts.googleapis.com/css2?family=Rubik&family=Silkscreen&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .box {
        @apply shadow-md outline outline-2 outline-border bg-box-bg w-full p-4 rounded-md;
    }

    .box-dark {
        @apply bg-box-bg-dark rounded shadow p-4 outline outline-2 outline-border-dark;
    }
}

@layer utilities {
    .text-shadow {
        text-shadow: 1px 2px #000000;
    }

    .text-shadow-md {
        text-shadow: 2px 3px #000000;
    }

    .icon-shadow {
        filter: drop-shadow(1px 2px 0px rgb(0 0 0 / .4));
    }

    .icon-shadow-md {
        filter: drop-shadow(2px 3px 0px rgb(0 0 0 / .6));
    }
}

h1 {
    @apply font-title text-primary text-shadow-md text-5xl ;
}

h2,
h3,
h4,
h5,
h6 {
    @apply font-title text-primary text-shadow ;
}

li {
    @apply mr-4 flex items-center;
}

li a {
    @apply text-body text-shadow-md;
}

a {
    @apply text-primary;
}

a:hover {
    @apply text-secondary;
}

div span {
    @apply font-title;
}

svg {
    @apply icon-shadow-md;
}



